@tailwind base;
@tailwind components;
@tailwind utilities;


/* Seus estilos manuais abaixo */
/*Reset basico*/
*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
}
.quadro{
  /*background-color: #eee;*/
  padding: 8px;
  max-width: 400px;
  margin-top: 8px;

  h2{
    font-size: 16pt;
    letter-spacing: 0.08px;
  }

  div.status-message > div.message {
    display: flex;
    flex-direction: column;

    p {
      text-align: center;
      margin: 8px;
    }
  }
}
.aguarde{
  display:flex;
  align-items: center;
  color: blue;
  margin-right: 24px;
}
.quadrado{
  width: 12px;
  height: 12px;
  background-color: blue;
  margin-left: 6px;
  animation: loading 3s linear infinite;
}

form{
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  width: 100%;

  div{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;

    label{
      font-weight: 200;
    }

    input, textarea, select{
      background-color: white;
      outline: none;
      border: solid 1px #ddd;
      width: 100%;
      padding: 8px;
      cursor: pointer;
      border-radius: 4px;

      &:hover{
        border: solid 1px #888;
      }
    }

    textarea{
      height: 100px;
      resize: none;
    }

  }
  button[type=submit]{
    height: 50px;
    background-color: #ccc;
    margin-top: 4px;
    cursor: pointer;
    border-radius: 4px;

    &:hover{
      border: solid 1px #888;
    }
  }
}

p.aviso{
  color: gray;
  font-size: 8pt;
}

@keyframes loading {
  0%{transform: rotate(0deg) scale(1)}
  50%{transform: rotate(180deg) scale(0.5)}
  100%{transform: rotate(360deg) scale(1)}
}
